/* Ini css */

body {
    margin: 0;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suhu-style {
    font-size: 20px;
    font-family: math;
    font-style: italic;
}

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-btn {
    padding: 8px;
    border: none;
    border-radius: 8px;

}

.form-btn-submit {
    background-color: green;
    color: white;
}

.form-btn-reset {
    background-color: blue;
    color: white;
}

.form-btn-reverse {
    background-color: red;
    color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

@media only screen and (max-width: 380px) {
    .button-container {
        display: flex;
        flex-direction: column;
    }
}